<h3 class="noselect">
Load planning for
{{moment-format currentDate 'MM/DD/YYYY'}}
</h3>
<div class="ui celled stackable grid">
  <div class="row">
    <div class="five wide column">
      <h4>Morning</h4>
    </div>
    <div class="six wide column">
      <h4>Afternoon</h4>
    </div>
    <div class="five wide column">
      <h4>Evening</h4>
    </div>
  </div>
  {{#each model as |truck|}}
    <div class="row">
      <div class="five wide column">
        <span class="ui green ribbon label">{{truck.name}}</span>
        {{load-plan truck=truck shift="M" date=currentDate orders=pendingOrders onAdd=(action "scheduleOrder") onRemove=(action "unscheduleOrder")}}
      </div>
      <div class="six wide column">
        <span>&nbsp;</span>
        {{load-plan truck=truck shift="N" date=currentDate orders=pendingOrders onAdd=(action "scheduleOrder") onRemove=(action "unscheduleOrder")}}
      </div>
      <div class="five wide column">
        <span>&nbsp;</span>
        {{load-plan truck=truck shift="E" date=currentDate orders=pendingOrders onAdd=(action "scheduleOrder") onRemove=(action "unscheduleOrder")}}
      </div>
    </div>
  {{/each}}
</div>
