<h3 class="noselect">
  <i class="calendar icon force-pointer {{unless calendarCanGoBack 'disabled'}}" title="Go to today" {{action 'calendarToday'}}></i>
  <i class="angle blue left icon force-pointer {{unless calendarCanGoBack 'disabled'}}" title="Previous day" {{action 'calendarBack'}}></i>
  {{moment-format currentDate 'MM/DD/YYYY'}}
  <i class="angle blue right icon force-pointer" title="Next day" {{action 'calendarForward'}}></i>
</h3>
<div class="ui celled stackable grid">
  <div class="row">
    <div class="five wide column">
      <h4>Morning</h4>
    </div>
    <div class="six wide column">
      <h4>Afternoon</h4>
    </div>
    <div class="five wide column">
      <h4>Evening</h4>
    </div>
  </div>
  {{#each model as |truck|}}
    <div class="row">
      <div class="five wide column">
          <span class="ui green ribbon label">{{truck.name}}</span>
          {{load-plan truck=truck shift="M" date=currentDate orders=pendingOrders onAdd=(action "openScheduleDialog") onRemove=(action "unscheduleOrder")}}
      </div>
      <div class="six wide column">
        <span>&nbsp;</span>
        {{load-plan truck=truck shift="N" date=currentDate orders=pendingOrders onAdd=(action "openScheduleDialog") onRemove=(action "unscheduleOrder")}}
      </div>
      <div class="five wide column">
        <span>&nbsp;</span>
        {{load-plan truck=truck shift="E" date=currentDate orders=pendingOrders onAdd=(action "openScheduleDialog") onRemove=(action "unscheduleOrder")}}
      </div>
    </div>
  {{/each}}
</div>

{{schedule-dialog
   orders=availableOrders
   date=scheduleDate
   truck=scheduleTruck
   shift=scheduleShift
   truckRemainingVolume=scheduleTruckRemainingVolume
   truckRemainingReturnVolume=scheduleTruckRemainingReturnVolume
   onSchedule=(action 'doSchedule')
   onCancel=(action 'cancelSchedule')}}
