<h2 class="ui header">Route list for {{#if model.deliveryDate}}{{moment-format model.deliveryDate 'MM/DD/YYYY'}}{{/if}} (shift: {{model.deliveryShift}}, truck: {{model.truck.name}})</h2>

<h3>Stops:</h3>
<ol>
  <li>Larkin LLC (loading for delivery)</li>
  {{#each model.stops as |order idx|}}
    <li>
      <i class="arrow down icon force-pointer {{if (eq idx lastStop) 'disabled'}}" title="Move down" {{action "moveDown" order (eq idx lastStop)}}></i>
      <i class="arrow up icon force-pointer {{if (eq idx 0) 'disabled'}}" title="Move up" {{action "moveUp" order (eq idx 0)}}></i>
      Order {{order.purchaseOrderNumber}};
      {{#if (eq order.type 'Return')}}
        {{order.originCountry}}, {{order.originZip}} {{order.originCity}} {{order.originState}}, {{order.originAddress}},
        {{order.originName}} (load {{order.handlingUnitQuantity}} {{order.handlingUnitType}})
      {{else}}
        {{order.destinationCountry}}, {{order.destinationZip}} {{order.destinationCity}} {{order.destinationState}}, {{order.destinationAddress}},
        {{order.clientName}} (unload {{order.handlingUnitQuantity}} {{order.handlingUnitType}})
      {{/if}}, Call {{order.phoneNumber}}
    </li>
  {{/each}}
  <li>Larkin LLC (unloading of returns)</li>
</ol>

<div>
    <button class="ui button" {{action "back"}}>Back</button>
</div>
