<table class="ui very basic {{if orders.length 'selectable'}} compact celled table">
  <thead>
    <tr>
      <th>Delivery date</th>
      <th>Delivery shift</th>
      <th>Purchase order</th>
      <th>Type</th>
      <th>Client name</th>
      <th>Phone number</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each orders as |order|}}
      <tr class="{{if (eq order.type 'Return') 'warning'}} {{unless order.isValid 'error'}} {{if order.loadTruck 'positive'}}">
        <td>
          {{#if order.loadDate}}
            {{moment-format order.loadDate 'MM/DD/YYYY'}}
          {{else}}
            {{order.deliveryDate}}
          {{/if}}
        </td>
        <td>
          {{#if order.loadShift}}
            {{order.loadShift}}
          {{else}}
            {{order.deliveryShift}}
          {{/if}}
        </td>
        <td>{{order.purchaseOrderNumber}}</td>
        <td>{{order.type}}</td>
        <td>
          {{#if (eq order.type 'Return')}}
            {{order.originName}}
          {{else}}
            {{order.clientName}}
          {{/if}}
        </td>
        <td>{{order.phoneNumber}}</td>
        <td>
          {{#if order.loadTruck}}
            {{order.loadTruck.name}} ({{order.loadTruck.driver.name}})
          {{else}}
            {{#if onSplit}}
              <button class="ui icon button" {{action 'splitOrder' order}} title="Split order">
                  <i class="cut icon"></i>
              </button>
            {{/if}}
            {{#if onEdit}}
              <button class="ui icon button" {{action 'editOrder' order}} title="Edit order">
                  <i class="edit icon"></i>
              </button>
            {{/if}}
            {{#if onCancel}}
            <button class="ui icon button" {{action 'cancelOrder' order}} title="Cancel order">
                <i class="cancel icon"></i>
            </button>
            {{/if}}
          {{/if}}
        </td>
      </tr>
    {{else}}
      <tr><td colspan="6" class="empty-table-message">No orders found!</td></tr>
    {{/each}}
  </tbody>
</table>

{{yield}}
