
<h2 class="ui header">Edit order #{{model.id}} ({{model.type}})</h2>

<div class="ui raised segment">
    <form class="ui form">
        <h4 class="ui dividing header">Order</h4>

        <div class="two fields">
          <div class="field">
              <label>Delivery date</label>
              {{#validation-wrap name="Delivery date" model=model field='deliveryDate'}}
                {{input type="text" value=model.deliveryDate placeholder='Delivery date'}}
              {{/validation-wrap}}
          </div>
          <div class="field">
              <label>Delivery shift</label>
              {{#validation-wrap name="Delivery shift" model=model field='deliveryShift'}}
                {{input type="text" value=model.deliveryShift placeholder='Delivery shift'}}
              {{/validation-wrap}}
          </div>
        </div>
        <div class="two fields">
          <div class="field">
              <label>Phone number</label>
              {{#validation-wrap name="Phone number" model=model field='phoneNumber'}}
                {{input type="text" value=model.phoneNumber placeholder='Phone number'}}
              {{/validation-wrap}}
          </div>

          <div class="field">
              <label>Purchase order number</label>
              {{#validation-wrap name="Purchase order number" model=model field='purchaseOrderNumber'}}
                {{input type="text" value=model.purchaseOrderNumber placeholder='Purchase order number'}}
              {{/validation-wrap}}
          </div>
        </div>

        <div class="three fields">
          <div class="field">
              <label>Handling unit quantity</label>
              {{#validation-wrap name="Handling unit quantity" model=model field='handlingUnitQuantity'}}
                {{input type="text" value=model.handlingUnitQuantity placeholder='Handling unit quantity'}}
              {{/validation-wrap}}
          </div>
          <div class="field">
              <label>Handling unit type</label>
              {{#validation-wrap name="Handling unit type" model=model field='handlingUnitType'}}
                {{input type="text" value=model.handlingUnitType placeholder='Handling unit type'}}
              {{/validation-wrap}}
          </div>
          <div class="field">
              <label>Volume</label>
              {{#validation-wrap name="Volume" model=model field='volume'}}
                {{input type="text" value=model.volume placeholder='Volume'}}
              {{/validation-wrap}}
          </div>
        </div>

        <h4 class="ui dividing header">Origin</h4>
        <div class="two fields">
          <div class="field">
              <label>Origin name</label>
              {{#validation-wrap name="Origin name" model=model field='originName'}}
                {{input type="text" value=model.originName placeholder='Origin name'}}
              {{/validation-wrap}}
          </div>
          <div class="field">
              <label>Origin address</label>
              {{#validation-wrap name="Origin address" model=model field='originAddress'}}
                {{input type="text" value=model.originAddress placeholder='Origin address'}}
              {{/validation-wrap}}
          </div>
        </div>
        <div class="four fields">
          <div class="field">
              <label>Origin city</label>
              {{#validation-wrap name="Origin city" model=model field='originCity'}}
                {{input type="text" value=model.originCity placeholder='Origin city'}}
              {{/validation-wrap}}
          </div>
          <div class="field">
              <label>Origin state</label>
              {{#validation-wrap name="Origin state" model=model field='originState'}}
                {{input type="text" value=model.originState placeholder='Origin state'}}
              {{/validation-wrap}}
          </div>
          <div class="field">
              <label>Origin ZIP</label>
              {{#validation-wrap name="Origin ZIP" model=model field='originZip'}}
                {{input type="text" value=model.originZip placeholder='Origin ZIP'}}
              {{/validation-wrap}}
          </div>
          <div class="field">
              <label>Origin country</label>
              {{#validation-wrap name="Origin country" model=model field='originCountry'}}
                {{input type="text" value=model.originCountry placeholder='Origin country'}}
              {{/validation-wrap}}
          </div>
        </div>

        <h4 class="ui dividing header">Destination</h4>
        <div class="two fields">
          <div class="field">
              <label>Client name</label>
              {{#validation-wrap name="Client name" model=model field='clientName'}}
                {{input type="text" value=model.clientName placeholder='Client name'}}
              {{/validation-wrap}}
          </div>
          <div class="field">
              <label>Destination address</label>
              {{#validation-wrap name="Destination address" model=model field='destinationAddress'}}
                {{input type="text" value=model.destinationAddress placeholder='Destination address'}}
              {{/validation-wrap}}
          </div>
        </div>
        <div class="four fields">
          <div class="field">
              <label>Destination city</label>
              {{#validation-wrap name="Destination city" model=model field='destinationCity'}}
                {{input type="text" value=model.destinationCity placeholder='Destination city'}}
              {{/validation-wrap}}
          </div>
          <div class="field">
              <label>Destination state</label>
              {{#validation-wrap name="Destination state" model=model field='destinationState'}}
                {{input type="text" value=model.destinationState placeholder='Destination state'}}
              {{/validation-wrap}}
          </div>
          <div class="field">
              <label>Destination ZIP</label>
              {{#validation-wrap name="Destination ZIP" model=model field='destinationZip'}}
                {{input type="text" value=model.destinationZip placeholder='Destination ZIP'}}
              {{/validation-wrap}}
          </div>
          <div class="field">
              <label>Destination country</label>
              {{#validation-wrap name="Destination country" model=model field='destinationCountry'}}
                {{input type="text" value=model.destinationCountry placeholder='Destination country'}}
              {{/validation-wrap}}
          </div>
        </div>
    </form>
</div>
<div>
    <button class="ui primary button" {{action "save" model}}>Save</button>
    <button class="ui button" {{action "cancel" model}}>Cancel</button>
</div>
