<h3 class="noselect">
  Order list for
  <a class="force-pointer" {{action 'calendarBack'}}>&lt;</a>
  {{moment-format currentDate 'MM/DD/YYYY'}}
  <a class="force-pointer" {{action 'calendarForward'}}>&gt;</a>

  <button class="ui mini right floated labeled icon button" {{action 'openUploadDialog'}}>
      <i class="upload icon"></i>Upload orders CSV
  </button>
</h3>



<table class="ui very basic compact celled table">
  <thead>
    <tr>
      <th>Purchase order</th>
      <th>Delivery date</th>
      <th>Delivery shift</th>
      <th>Type</th>
      <th>Client name</th>
      <th>Phone number</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |order|}}
      <tr>
        <td>{{order.purchaseOrderNumber}}</td>
        <td>{{order.deliveryDate}}</td>
        <td>{{order.deliveryShift}}</td>
        <td>{{order.type}}</td>
        <td>{{order.clientName}}</td>
        <td>{{order.phoneNumber}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#ui-modal name="upload" class="upload" onApprove=(action 'doUpload') onDeny=(action 'cancelUpload')}}
  <i class="close icon"></i>
  <div class="header">
    Upload new orders
  </div>
  <div class="image content">
    <div class="image">
      <i class="shop icon"></i>
    </div>
    <div class="description">
      <p>Please, select your orders CSV file using control below:</p>
      <form>
        {{file-upload files=orderFiles}}
      </form>
    </div>
  </div>
  <div class="actions">
      <div class="ui positive button">
        <i class="upload icon"></i>
        Upload
      </div>
      <div class="ui deny button">
        <i class="cancel icon"></i>
        Cancel
      </div>
  </div>
{{/ui-modal}}
